@import "./Style/header.css";
@import "./Style/hero.css";
@import "./Style/add.css";
@import "./Style/table.css";
@import "./Style/addInformation.css";




*{
    margin: 0;
    padding: 0;
    border: none;
}
a{
    text-decoration: none;
}
body{
    background: #0dcdef;
}
button{
    cursor: pointer;
}
.container{
    width: 90%;
    margin: 0 auto;
}